<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>生成发送报文</title>
</head>

<body>
<form action="#" name="generation" th:action="@{/generateXML}" th:object="${fpInfo}" method="post">

    <table>
        <tr>
            <td>纳税人识别号：</td>
            <td>
                <label>
                    <input type="text" th:field="*{nsrsbh}">
                </label>
            </td>
        </tr>
        <tr>
            <td>发票代码：</td>
            <td>
                <label>
                    <input type="text" th:field="*{fpdm}">
                </label>
            </td>
        </tr>
        <tr>
            <td>发票种类：</td>
            <td>
                <label>
                    <input type="text" th:field="*{fpzl}">
                </label>
            </td>
        </tr>
        <tr>
            <td>发票状态：</td>
            <td>
                <label>
                    <input type="text" th:field="*{fpzt}">
                </label>
            </td>
        </tr>
        <tr>
            <td>时间：</td>
            <td>
                <label>
                    <p th:text="*{date}"></p>
                </label>
            </td>
        </tr>

    </table>
    <input type="submit" value="生成报文"/>
</form>
</body>
</html>