<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>接收解析报文</title>
</head>

<SCRIPT language="JavaScript">

    function ok() {
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        var nsrsbh = document.generation.nsrsbh.value;
        var fpdm = document.generation.fpdm.value;
        var fpzl = document.generation.fpzl.value;
        var fpzt = document.generation.fpzt.value;
        var time = year + "/" + month + "/" + day;//获取当前时间
        // var xml = "<INPUT>" + "<FPZL>" + fpzl + "</FPZL>" + "<FPDM>" + fpdm + "</FPDM>" + "<FPZT>" + fpzt + "</FPZT>" + "<NSRSBH>" + nsrsbh + "</NSRSBH>" + "<DATE>" + date + "</DATE>" + "</INPUT>";

        document.generation.onsubmit();
    }
</SCRIPT>

<body>
<form action="#" th:action="@{/parseXML}" th:object="${fpMessage}" method="post">

    <table>
        <tr>
            <td>纳税人识别号：</td>
            <td>
                <label>
                    <p th:text="*{nsrsbh}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票代码：</td>
            <td>
                <label>
                    <p th:text="*{fpdm}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票种类：</td>
            <td>
                <label>
                    <p th:text="*{fpzl}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票状态：</td>
            <td>
                <label>
                    <p th:text="*{fpzt}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>时间：</td>
            <td>
                <label>
                    <p th:text="*{date}"></p>
                </label>
            </td>
        </tr>


    </table>
    <input type="submit"/>
    <!--<input type="button" name="Button" value="生成报文" onclick="ok()">-->
</form>
</body>
</html>