<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>接收解析报文</title>
</head>

<body>
<form action="#" th:action="@{/parseXML}" th:object="${fpMessage}" method="post">

    <table>
        <tr>
            <td>纳税人识别号：</td>
            <td>
                <label>
                    <p th:text="*{nsrsbh}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票代码：</td>
            <td>
                <label>
                    <p th:text="*{fpdm}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票种类：</td>
            <td>
                <label>
                    <p th:text="*{fpzl}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>发票状态：</td>
            <td>
                <label>
                    <p th:text="*{fpzt}"></p>
                </label>
            </td>
        </tr>
        <tr>
            <td>时间：</td>
            <td>
                <label>
                    <p th:text="*{date}"></p>
                </label>
            </td>
        </tr>
    </table>
    <input type="submit" value="解析报文"/>
</form>
</body>
</html>